<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.curry.util">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application>
        <activity android:name=".image.ImagePickerActivity"
                  android:exported="true"></activity>

        <activity android:name=".image.ImageShowActivity"
                  android:exported="true"></activity>
    </application>
</manifest>